/* elements.scss */

$grey: #efefef;
$dark-grey: #aaa;
$white: #fff;
$black: #333;
$primary: #059b89;

$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$script-font: "Pacifico";

$gigantic: 36px;
$massive: 30px;
$huge: 24px;
$big: 18px;
$med: 16px;
$small: 14px;
$tiny: 11px;

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
