// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@import "elements";
@import "animations";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: $grey;
  font-family: $font-stack;
  font-size: $small;
  color: $black;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:focus {
  outline: none;
}

.post-lightbox {
  position: fixed;
  width: calc(100vw - 51px);
  height: 100vh;
  top: 0;
  left: 51px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1001;

  .close-lightbox {
    color: $white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: $massive;
    cursor: pointer;
  }
}

.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;

  div {
    padding: 0;

    .nav {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 100vh;
      background: $white;
      border-right: 1px solid $grey;
      z-index: 1000;

      a.nav-link {
        display: block;

        div.icon {
          width: 100%;
          overflow: hidden;
          padding-top: 13px;
          padding-bottom: 13px;
          text-align: center;
          border-right: 0;
          font-size: $big;
          @include transition(all 100ms ease-out);

          &:hover, &:focus {
            color: $primary;
          }

          &.active {
            color: $white;
            background: $primary;
          }
        }
      }

      .yaadein-title {
        display: block;
        position: absolute;
        right: 50%;
        margin-right: -22px;
        bottom: 110px;
        font-family: $script-font;
        @include transform(rotate(-90deg));
        @include transform-origin(right bottom 0);
        color: $primary;
        background: $white;
        font-size: $massive;
        text-transform: lowercase;
        z-index: 1001;
      }
    }

    .options {
      position: relative;
      width: 210px;
      height: 100vh;
      margin-right: 2px;
      margin-left: 51px;
      background: rgba(250, 250, 250, 0.8);
      z-index: 999;
      overflow: hidden;

      .sidebar-container {
        width: 100%;
        height: 100vh;
        overflow: auto;

        //Default Options
        .options-profile-pic {
          position: relative;
          width: 100%;
          overflow: hidden;
          display: block;

          div {
            padding: 20px;
            text-align: center;
            overflow: hidden;

            .img {
              width: 70px;
              height: 70px;
              margin: 0 auto;
              background: $dark-grey;
              background-repeat: no-repeat !important;
              background-position: center !important;
              background-size: cover !important;
              border-radius: 100%;
              border: 3px solid $black;
            }
          }
        }

        a.option-link {
          display: block;
          width: 186px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 14px;
          padding-right: 10px;
          @include transition(all 250ms ease-out);
          font-size: $small;
          text-overflow: ellipsis;
          text-transform: capitalize;

          &:hover {
            border-color: $primary;
            border-right-width: 4px;
            border-right-style: solid;
            background: $white;
            padding-left: 20px;
            width: 176px;
          }

          div.icon {
            font-size: $med;
            line-height: 1.5;
            margin-right: 10px;
          }
        }

        //Search
        .search-container {
          position: relative;
          width: 100%;
          overflow: hidden;
          text-align: center;

          .search-bar {
            width: 71%;
            line-height: 19px;
            height: 19px;
            font-weight: 300;
            border: 1px solid $grey;
            border-radius: 3px;
            padding-left: 6%;
            padding-right: 11%;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $black;
            @include transition(all 300ms ease-out);

            &:focus {
              border-radius: 15px;
              border-color: $primary;
            }
          }

          .icon.icon-search-1 {
            position: absolute;
            right: 18px;
            top: 28px;
            color: $dark-grey;
          }

          a.search-result {
            display: block;
            width: 180px;
            height: 40px;
            overflow: hidden;
            background: $white;
            margin-bottom: 1px;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: $black;
            cursor: pointer;
            @include transition (all 150ms ease-out);

            &:hover {
              color: $white;
              background: $primary;
            }

            .user-image-container {
              position: relative;
              float: left;
              width: 40px;

              .user-image {
                width: 40px;
                height: 40px;
                margin: 0 auto;
                background: $dark-grey;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: cover !important;
                border-radius: 50%;
              }
            }

            .result-details {
              position: relative;
              overflow: hidden;
              float: left;
              width: 130px;
              padding-left: 10px;
              padding-top: 3px;
              padding-bottom: 3px;
              text-align: left;

              $line-height: 1.4;
              $lines-to-show: 2;

              p {
                height: $tiny * $line-height * $lines-to-show;
                font-size: $tiny;
                line-height: $line-height;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

          }
        }

        .notifs-header {
          width: 160px;
          padding: 25px;
          text-align: center;
          color: $dark-grey;
        }

        a.notification {
          display: block;
          width: 180px;
          height: 40px;
          overflow: hidden;
          background: $white;
          margin-bottom: 1px;
          padding: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: $black;
          cursor: pointer;
          @include transition (all 150ms ease-out);

          &:hover {
            color: $white;
            background: $primary;
          }

          .user-image-container {
            position: relative;
            float: left;
            width: 40px;

            .user-image {
              width: 40px;
              height: 40px;
              margin: 0 auto;
              background: $dark-grey;
              background-repeat: no-repeat !important;
              background-position: center !important;
              background-size: cover !important;
              border-radius: 100%;
            }
          }

          .notif-details {
            position: relative;
            overflow: hidden;
            float: left;
            width: 130px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: left;

            $line-height: 1.4;
            $lines-to-show: 2;

            p {
              height: $tiny * $line-height * $lines-to-show;
              font-size: $tiny;
              line-height: $line-height;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

.nano > .nano-pane {
  width: 8px;
  background: rgba(0, 0, 0, 0);
}
.nano > .nano-pane > .nano-slider {
  background: rgba(0, 0, 0, 0.4);
}

.loader > img {
  height: 15px;
}

.center-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  margin-left: 260px;
  margin-right: 220px;

  div.padded {
    padding: 20px;
  }

  & > div {
    padding: 0;
    text-align: center;

    //For the scrollable attribute div of different views
    & > div {
      @include calc(height, 100%);
    }

    .cover-pic {
      position: relative;
      width: 100%;
      height: 254px;
      background: $dark-grey;
      background-repeat: no-repeat !important;
      background-position: 50% !important;
      background-size: 100% !important;

      .profile-user-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        text-align: left;
        padding: 20px 35px;
        @include background-image( linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 130%) );

        h1 {
          font-size: 22px;
          margin: 0;
          text-shadow: 0 1px 1px #333;
          font-weight: 700;
          letter-spacing: 0.04em;
          color: $white;
        }

        p {
          font-size: 14px;
          color: $white;
        }

      }
    }

    .feed-container {
      position: relative;
      width: 100%;
      max-width: 850px;
      overflow: hidden;
      margin: 20px auto;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 1px 1px 0 #ccc;
      @include transition(300ms ease-out all);

      &:hover {
        box-shadow: 0 1px 8px 0 #aaa;
      }

      & > div {
        padding: 19px;
        border: 1px solid $white;
        overflow: hidden;
        border-radius: 3px;

        p.stars {
          position: absolute;
          right: 20px;
          bottom: 15px;
          color: #ffd700;
          font-size: $big;
          cursor: pointer;

          & > i {
            color: #ffd700;
          }
        }

        .user-data {
          position: relative;
          width: 30%;
          overflow: hidden;
          background: $white;

          & > div {
            padding-right: 15px;

            .user-image {
              width: 70px;
              height: 70px;
              margin: 0 auto;
              background: $dark-grey;
              background-repeat: no-repeat !important;
              background-position: center !important;
              background-size: cover !important;
              border-radius: 50%;
            }

            p.info {
              margin-top: 5px;
              text-align: center;
              font-weight: normal;
              font-size: $tiny;
              color: $dark-grey;

              &:nth-of-type(1) {
                margin-top: 20px;
              }
            }
          }
        }

        .post-data {
          width: 70%;
          overflow: hidden;
          background: $white;

          & > div {
            padding-left: 20px;
            border-left: 1px solid $grey;
            position: relative;

            * {
              text-align: left;
              font-weight: normal;
              color: $black;
            }

            h1 {
              font-size: $big;
              margin: 0;
              text-shadow: 0 1px 1px #ccc;
              font-weight: 500;
            }

            h2 {
              font-size: $small;
              color: $dark-grey;

              span {
                color: inherit;
                font-size: inherit;
              }

              a {
                font-size: inherit;
                color: inherit;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            p {
              margin-top: 20px;
              font-size: 16px;
            }

            .images-container {
              position: relative;
              overflow: hidden;
              margin-top: 20px;
              margin-bottom: 20px;

              .image {
                width: 100px;
                height: 100px;
                margin: 1px;
                border-radius: 2px;
                background: $dark-grey;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: cover !important;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}

.right-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  z-index: 900;
  background: $white;

  .credits {
    width: 190px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9px;
    background: $white;
    text-align: center;
  }

  .ticker-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 43px); // Subtract height of .credits div
    overflow: auto;

    a.ticker-element {
      display: block;
      width: 190px;
      height: 40px;
      overflow: hidden;
      background: $white;
      padding: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $grey;
      color: $black;
      cursor: pointer;
      @include transition (all 150ms ease-out);

      &:hover {
        color: $white;
        background: $primary;
      }

      .user-image-container {
        position: relative;
        float: left;
        width: 40px;

        .user-image {
          width: 40px;
          height: 40px;
          margin: 0 auto;
          background: $dark-grey;
          background-repeat: no-repeat !important;
          background-position: center !important;
          background-size: cover !important;
          border-radius: 2px;
        }
      }

      .ticker-details {
        position: relative;
        overflow: hidden;
        float: left;
        width: 140px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;

        $line-height: 1.4;
        $lines-to-show: 2;

        p {
          height: $tiny * $line-height * $lines-to-show;
          font-size: $tiny;
          line-height: $line-height;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}