// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@import "elements";
@import "animations";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: $grey;
  font-family: $font-stack;
  font-size: $small;
  color: $black;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

.yaadein-title {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 110px;
  font-family: $script-font;
  @include transform(rotate(-90deg));
  @include transform-origin(right bottom 0);
  color: $primary;
  font-size: $massive;
  text-transform: lowercase;
}

.nav-sidebar {
  width: 60px;
  max-width: 5%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: $white;
  border-right: 1px solid $grey;
  z-index: 1000;
  overflow: hidden;

  a.nav-link {
    display: block;
  }

  .icon {
    position: relative;
    padding: 15px;
    text-align: center;
    font-size: $huge;
    cursor: pointer;
    @include transition(all 100ms ease-out);

    &:hover, &:focus {
      color: $primary;
    }

    &.active {
      color: $white;
      background: $primary;
    }
  }
}

.options-sidebar {
  max-width: 20%;
  width: 280px;
  //max-width: 220px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  z-index: 900;

  .sidebar-container {
    width: 80%;
    margin-left: 20%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    div.search-container {
      position: relative;
      text-align: center;

      div.icon-search-1 {
        position: absolute;
        top: 28px;
        right: 22px;
        z-index: 1;
        color: $dark-grey;
      }

      input.search-bar {
        position: relative;
        width: 70%;
        line-height: 30px;
        margin: 20px auto;
        padding: 0 10px;
        padding-right: 25px;
        color: $black;
        border-radius: 4px;
        border: 1px solid $grey;
        font-weight: 300;
        @include transition(all 300ms ease-out);

        &:focus {
          border-color: $primary;
          border-radius: 15px;
        }
      }
    }

    div.pad {
      padding: 40px;
      text-align: center;
      overflow: hidden;

      div.img {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        background: $dark-grey;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        border-radius: 100%;
        border: 4px solid $black;
      }
    }

    .post-lightbox {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 5;

      .close-lightbox {
        position: absolute;
        top: 15px;
        right: 15px;
        color: $white;
        font-size: $massive;
        cursor: pointer;
      }
    }

    .notifs-header {
      width: 100%;
      position: relative;
      overflow: hidden;

      div {
        padding: 20px 10px;
        overflow: hidden;
        color: $dark-grey;
        text-align: center;
      }
    }
  }

  a.option-link {
    display: block;
    padding: 15px 20px;
    text-transform: capitalize;
    @include transition(all 250ms ease-out);
    font-size: $small;
    text-overflow: ellipsis;

    .icon {
      font-size: $med;
      line-height: 1.5em;
      margin-right: 10px;
    }

    &:hover {
      border-right: 4px solid $primary;
      background: $white;
      padding-left: 30px;
    }
  }
}

.center {
  width: 600px;
  max-width: 45%;
  height: 400px;
  margin: 0 auto;
  background: $white;
  z-index: 2;
}