// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@import "elements";
@import "animations";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background: $grey;
  font-family: $font-stack;
  font-size: $small;
  color: $black;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:focus {
  outline: none;
}

mentio-menu {
	z-index: 1200 !important;
}

@import "partials/compose";
@import "partials/emoji-predictions";

//begin -- .left-sidebar
.left-sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 260px;
	height: 100vh;
	overflow: hidden;
	z-index: 1000;
	//For padding in % width containers
	div {
		padding: 0;
		//begin -- .nav
		.nav {
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			height: 100vh;
			background: $white;
			border-right: 1px solid $grey;
			z-index: 1000;
			a.nav-link {
				display: block;
				div.icon {
					width: 100%;
					overflow: hidden;
					padding-top: 13px;
					padding-bottom: 13px;
					text-align: center;
					border-right: 0;
					font-size: $big;
					@include transition(all 100ms ease-out);
					&:hover, &:focus {
						color: $primary;
					}
					&.active {
						color: $white;
						background: $primary;
					}
				}
			}
			//App Title
			.yaadein-title {
				display: block;
				position: absolute;
				right: 50%;
				margin-right: -22px;
				bottom: 110px;
				font-family: $script-font;
				@include transform(rotate(-90deg));
				@include transform-origin(right bottom 0);
				color: $primary;
				background: $white;
				font-size: $massive;
				text-transform: lowercase;
				z-index: 1001;
			}
		}//end -- .nav
		//More options - Level 2 Navigation
		.options {
			position: relative;
			width: 210px;
			height: 100vh;
			margin-right: 2px;
			margin-left: 51px;
			background: rgba(250, 250, 250, 0.8);
			z-index: 999;
			overflow: hidden;
			.sidebar-container {
				width: 100%;
				height: 100vh;
				overflow: auto;

				@import "partials/default-options";
				@import "partials/search";
				@import "partials/notifications";
			}
		}
	}
}//end -- .left-sidebar
.nano > .nano-pane {
	width: 8px;
	background: rgba(0, 0, 0, 0);
}
.nano > .nano-pane > .nano-slider {
	background: rgba(0, 0, 0, 0.4);
}
.loader > img {
	height: 12px;
}
//begin -- .center-content
.center-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 800;
	margin-left: 260px;
	margin-right: 220px;
	div.padded {
		padding: 20px;
		h2.page-title {
			color: rgba(180, 180, 180, 0.8); //#ddd, 80% opaque
			font-weight: 500;
			margin-bottom: 20px;
			text-shadow: 1px 2px 2px $white, 0 0 0 $black, 1px 2px 4px $white;
		}
	}
	//For padding in % width containers
	& > div {
		padding: 0;
		text-align: center;
		//For the scrollable attribute div of different views
		& > div {
			@include calc(height, 100%);
			
			/*======= Put view styles here =======*/
			@import "partials/feed";
			@import "partials/profile";
			@import "partials/gallery";
		}
	}
}//end -- .center_content
//begin -- .right-sidebar
.right-sidebar {
	position: fixed;
	right: 0;
	top: 0;
	width: 220px;
	height: 100vh;
	z-index: 900;
	background: $white;
	//Development Credits to IMG
	.credits {
		width: 190px;
		padding: 15px;
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 9px;
		background: $white;
		text-align: center;
	}
	@import "partials/ticker";
}//end -- .right-sidebar
