/*======= Default Options (Level 2 Nav) Styles =======*/
.options-profile-pic {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: block;
	//For padding in % width containers
	div {
		padding: 20px;
		text-align: center;
		overflow: hidden;
		.img {
			width: 70px;
			height: 70px;
			margin: 0 auto;
			background: $dark-grey;
			background-repeat: no-repeat !important;
			background-position: center !important;
			background-size: cover !important;
			border-radius: 100%;
			border: 3px solid $black;
		}
	}
}
a.option-link {
	display: block;
	width: 186px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 14px;
	padding-right: 10px;
	@include transition(all 250ms ease-out);
	font-size: $small;
	text-overflow: ellipsis;
	text-transform: capitalize;
	&:hover {
		border-color: $primary;
		border-right-width: 4px;
		border-right-style: solid;
		background: $white;
		padding-left: 20px;
		width: 176px;
	}
	div.icon {
		font-size: $med;
		line-height: 1.5;
		margin-right: 10px;
	}
}