<!doctype html>
<html class="no-js" ng-app="yaadeinApp" ng-controller="YaadeinController">
  <head>
    <meta charset="utf-8">
    <title ng-bind="appname"></title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="styles/font-styles.css" />
    <link rel="stylesheet" href="styles/vendor/normalize.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/ng-emoticons/ng-emoticons.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/nanoscroller/bin/css/nanoscroller.css" />
    <link rel="stylesheet" href="bower_components/ngActivityIndicator/css/ngActivityIndicator.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak class="ng-cloak" ng-activity-indicator>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="postBox" class="post-lightbox fade" ng-if="getCurrentNavItem() === 'post'">
        <div class="close-lightbox icon icon-cancel" ng-click="closePost()"></div>
        <div>
            <form class="post-form">
                <i class="inline fa fa-qq"></i>
                <input class="small-input" type="text" name="usertags" placeholder="Tag friends here" show-focus="true">
                <i class="inline fa fa-map-marker"></i>
                <input class="small-input" type="text" name="location" placeholder="Spot">
                <textarea class="big-input" placeholder="Type memory here" style="resize:none;" ng-model="newPost.post_text"></textarea>
                <div class="upload-bttn" type="file" name="files" size="40" ng-file-select ng-model="files" ng-accept="'image/*'" ng-multiple="true"><i class="fa fa-camera-retro"></i>&nbsp;&nbsp;Add Photos</div>
                <button class="upload-bttn" ng-click="upload(files)"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Post</button>
				<ul>
                  <li ng-repeat="f in files" style="font:smaller; color: white;">{~{f.name}~}</li>
                </ul>
                <img ng-show="files[0].dataUrl != null" ng-src="{~{files[0].dataUrl}~}" class="thumb">
                <span class="progress" ng-show="files[0].progress >= 0">
                  <div class="ng-binding" style="width:{~{files[0].progress}~}%" ng-bind="files[0].progress + '%'"></div>
                </span>
                <span ng-show="files[0].result">Upload Successful</span>
            </form>
        </div>
    </div>

    <div class="left-sidebar">
    <div>
        <div class="nav">
            <a href="" class="nav-link" ng-repeat="navItem in navigationItems" ng-click="setCurrentNavItem(navItem)">
              <div id="{~{navItem.id}~}" class="{~{navItem.class}~}" ng-class="{ 'active': isCurrentNavItem(navItem) }"></div>
            </a>
            <a href="/"><div class="yaadein-title" ng-bind="appname"></div></a>
        </div>

        <div class="options">
        <div class="sidebar-container" ng-switch on="getCurrentNavItem()" scrollable>

            <div ng-switch-when="default" class="slide ng-cloak" ng-cloak>
                <div class="options-profile-pic">
                <div>
                    <div class="img" ng-style="{ 'background-image': 'url(' + user.profilePic + ')' }"></div>
                </div>
                </div>
                <a ng-repeat="option in moreOptions | filter:{navItem:currentNavItem.id}" class="option-link" ng-href="{~{option.url}~}">
                    <div class="{~{option.iconClass}~} pull-left"></div>
                    <div ng-bind="option.name"></div>
                </a>
            </div>

            <div ng-switch-when="search" class="slide ng-cloak search-container" ng-cloak>
                <!-- <angucomplete-alt id="search-people"
                    placeholder="Search people..."
                    pause="100"
                    selected-object="selectedObject"
                    remote-url="http://beta.json-generator.com/api/json/get/H_C2KqA?searchStr="
                    remote-url-data-field="results"
                    search-fields="name"
                    title-field="name"
                    image-field="profilePic"
                    input-class="search-bar"
                    minlength="1"
                    match-class="highlight"
                    field-required="true"
                    template-url="/views/autocomplete.html"/> -->
                <angucomplete-alt id="search-people"
                    placeholder="Search people..."
                    pause="100"
                    selected-object="selectedObject"
                    local-data="usersList"
                    search-fields="name"
                    title-field="name"
                    image-field="profilePic"
                    input-class="search-bar"
                    minlength="1"
                    match-class="highlight"
                    field-required="true"
                    template-url="/views/autocomplete.html"/>
                <!-- <a ng-href="" class="search-result">
                    <div class="user-image-container">
                    <div>
                        <div class="user-image" ng-style="{ 'background-image': 'url(' + user.profilePic + ')' }"></div>
                    </div>
                    </div>
                    <div class="result-details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </a> -->
            </div>

            <div ng-switch-when="post" class="ng-cloak" ng-cloak></div>

            <div ng-switch-when="notifications" class="slide ng-cloak" ng-cloak>
                <div class="notifs-header">
                    <div>Notification Center</div>
                </div>
                <a ng-href="/profile/{~{tick.enrolmentNo}~}" class="notification" ng-repeat="tick in ticks">
                    <div class="user-image-container">
                    <div>
                        <div class="user-image" ng-style="{ 'background-image': 'url(' + tick.profilePic + ')' }"></div>
                    </div>
                    </div>
                    <div class="notif-details">
                    <p>{~{tick.name}~} posted on your wall<br><span am-time-ago="tick.time" style="color:#ccc;"></span></p>
                    </div>
                </a>
            </div>

        </div>
        </div>
    </div>
    </div>

    <div id="centered" class="center-content">
        <div class="fade" ng-view autoscroll>
        </div>
    </div>

    <div class="right-sidebar" id="ticker">
        <div class="ticker-content" scrollable scrollend="addToTicker();">
            <a ng-href="/profile/{~{tick.enrolmentNo}~}" class="ticker-element" ng-repeat="tick in ticks | limitTo: 100 | orderBy: '-tick.time'">
                <div class="user-image-container">
                <div>
                    <div class="user-image" ng-style="{ 'background-image': 'url(' + tick.profilePic + ')' }"></div>
                </div>
                </div>
                <div class="ticker-details">
                <p>{~{tick.name}~} posted a new memory<br><span am-time-ago="tick.time" style="color:#ccc;"></span></p>
                </div>
            </a>
            <div class="loader" style="padding-top:20px; text-align:center;" ng-if="isLoading">
                <img src="images/svg-loaders/three-dots.svg" alt="Loading..." style="height:10px;">
            </div>
        </div>
        <div class="credits">
            <a href="http://img.channeli.in/" target="_blank">
                &copy; Information Management Group <span id="year"></span>
            </a>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-notify/src/scripts/ng-notify.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/ng-emoticons/ng-emoticons.js"></script>
    <script src="bower_components/ment.io/dist/mentio.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
    <script src="bower_components/ng-nanoscroller/scrollable.js"></script>
    <script src="bower_components/ngActivityIndicator/ngActivityIndicator.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-emoji-filter/dist/emoji.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/components/main.config.js"></script>
        <script src="scripts/components/main.services.js"></script>
        <script src="scripts/components/main.filters.js"></script>
        <script src="scripts/components/main.directives.js"></script>
        <script src="scripts/components/main.controller.js"></script>
        <!-- endbuild -->

    <script type="text/javascript">
        $('#centered').css('width', window.innerWidth - $('.right-sidebar').innerWidth() - $('.left-sidebar').innerWidth());
        $('#centered').css('height', window.innerHeight);
        $('#year').html(new Date().getFullYear());
    </script>
</body>
</html>
