<!doctype html>
<html class="no-js" ng-app="yaadeinApp" ng-controller="YaadeinController">
  <head>
    <meta charset="utf-8">
    <title ng-bind="appname"></title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="styles/font-styles.css" />
    <link rel="stylesheet" href="styles/vendor/normalize.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/ng-emoticons/ng-emoticons.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/nanoscroller/bin/css/nanoscroller.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak class="ng-cloak">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="postBox" class="post-lightbox fade" ng-if="getCurrentNavItem() === 'post'">
        <div class="close-lightbox icon icon-cancel" ng-click="closePost()"></div>
        <div>
            <form>
                <input type="text" name="usertags" placeholder="Tag friends here">
                <input type="text" name="location" placeholder="Spot">
                <textarea placeholder="Type memory here" style="resize:none;"></textarea>
            </form>
        </div>
    </div>

    <div class="left-sidebar">
    <div>
        <div class="nav">
            <a href="" class="nav-link" ng-repeat="navItem in navigationItems" ng-click="setCurrentNavItem(navItem)">
              <div id="{{navItem.id}}" class="{{navItem.class}}" ng-class="{ 'active': isCurrentNavItem(navItem) }"></div>
            </a>
            <a href="/"><div class="yaadein-title" ng-bind="appname"></div></a>
        </div>

        <div class="options">
        <div class="sidebar-container" ng-switch on="getCurrentNavItem()" scrollable>

            <div ng-switch-when="default" class="slide ng-cloak" ng-cloak>
                <div class="options-profile-pic">
                <div>
                    <div class="img" ng-style="{ 'background-image': 'url(' + user.profilePic + ')' }"></div>
                </div>
                </div>
                <a ng-repeat="option in moreOptions | filter:{navItem:currentNavItem.id}" class="option-link" ng-href="{{option.url}}">
                    <div class="{{option.iconClass}} pull-left"></div>
                    <div ng-bind="option.name"></div>
                </a>
            </div>

            <div ng-switch-when="search" class="slide ng-cloak search-container" ng-cloak>
                <!-- <angucomplete-alt id="predictive-search"
                                  placeholder="Search spots, people..."
                                  pause="100"
                                  selected-object="selectedReceiver"
                                  remote-url="http://beta.json-generator.com/api/json/get/BflDVyA?searchstr="
                                  search-fields="name"
                                  title-field="name"
                                  minlength="1"
                                  template-url="/views/autocomplete.html"
                                  input-class="input"
                                  description-field="details"
                                  field-required="true"
                                  match-class="matched"
                                  image-field="image"
                                  class="search-bar">
                </angucomplete-alt> -->
                <div class="icon icon-search-1"></div>
                <input type="text" placeholder="Search people, groups..." class="search-bar" show-focus="true">
                <a ng-href="" class="search-result">
                    <div class="user-image-container">
                    <div>
                        <div class="user-image" ng-style="{ 'background-image': 'url(' + user.profilePic + ')' }"></div>
                    </div>
                    </div>
                    <div class="result-details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </a>
            </div>

            <div ng-switch-when="post" class="ng-cloak" ng-cloak></div>

            <div ng-switch-when="notifications" class="slide ng-cloak" ng-cloak>
                <div class="notifs-header">
                    <div>Notification Center</div>
                </div>
                <a ng-href="/profile/{{tick.enrolmentNo}}" class="notification" ng-repeat="tick in ticks | limitTo:5">
                    <div class="user-image-container">
                    <div>
                        <div class="user-image" ng-style="{ 'background-image': 'url(' + tick.profilePic + ')' }"></div>
                    </div>
                    </div>
                    <div class="notif-details">
                    <p>{{tick.name}} posted on your wall</p>
                    </div>
                </a>
            </div>

        </div>
        </div>
    </div>
    </div>

    <div id="centered" class="center-content">
        <div class="fade" ng-view autoscroll>
        </div>
    </div>

    <div class="right-sidebar" id="ticker">
        <div class="ticker-content" scrollable scrollend="addToTicker();">
            <a ng-href="/profile/{{tick.enrolmentNo}}" class="ticker-element" ng-repeat="tick in ticks | limitTo: 50">
                <div class="user-image-container">
                <div>
                    <div class="user-image" ng-style="{ 'background-image': 'url(' + tick.profilePic + ')' }"></div>
                </div>
                </div>
                <div class="ticker-details">
                <p>{{tick.name}} posted a new memory</p>
                </div>
            </a>
            <div class="loader" style="padding-top:20px; text-align:center;" ng-if="isLoading">
                <img src="images/svg-loaders/three-dots.svg" alt="Loading..." style="height:10px;">
            </div>
        </div>
        <div class="credits">
            <a href="http://img.channeli.in/" target="_blank">
                &copy; Information Management Group <span id="year"></span>
            </a>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-notify/src/scripts/ng-notify.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/ng-emoticons/ng-emoticons.js"></script>
    <script src="bower_components/ment.io/dist/mentio.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
    <script src="bower_components/ng-nanoscroller/scrollable.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/components/main.config.js"></script>
        <script src="scripts/components/main.services.js"></script>
        <script src="scripts/components/main.filters.js"></script>
        <script src="scripts/components/main.directives.js"></script>
        <script src="scripts/components/main.controller.js"></script>
        <!-- endbuild -->

    <script type="text/javascript">
        $('#centered').css('width', window.innerWidth - $('.right-sidebar').innerWidth() - $('.left-sidebar').innerWidth());
        $('#centered').css('height', window.innerHeight);
        $('#year').html(new Date().getFullYear());
    </script>
</body>
</html>
