<!doctype html>
<html class="no-js" ng-app="yaadeinApp" ng-controller="YaadeinController">
  <head>
    <meta charset="utf-8">
    <title ng-bind="appname"></title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="styles/font-styles.css" />
    <link rel="stylesheet" href="styles/vendor/normalize.css" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-notify/src/styles/ng-notify.css" />
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/ng-emoticons/ng-emoticons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body ng-cloak class="ng-cloak">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="nav-sidebar" class="slide-left">
      <div>
        <a href="" class="nav-link" ng-repeat="navItem in navigationItems" ng-click="setCurrentNavItem(navItem)">
          <div id="{{navItem.id}}" class="{{navItem.class}}" ng-class="{ 'active': isCurrentNavItem(navItem) }"></div>
        </a>
        <a href="/"><div class="yaadein-title" ng-bind="appname"></div></a>
      </div>
    </div>

    <div class="options-sidebar">
        <div>
            <div class="sidebar-profile-pic-container" ng-switch on="isCurrentNavItem(navigationItems[0])">
                <!-- isCurrentNavitem(navigationItems[0]) === true -->
                <div class="pad" ng-switch-when="true">
                    <div class="img" style="background: url('images/user.png');"></div>
                </div>
            </div>
            <a ng-repeat="option in moreOptions | filter:{navItem:currentNavItem.id}" class="option-link" href="{{option.url}}">
                <div class="{{option.iconClass}} pull-left"></div>
                <div ng-bind="option.name"></div>
            </a>
        </div>
    </div>

    <div class="center" ng-view></div>

    <div class="ticker">
        <div>
            <a href="#" class="ticker-element">
                <img src="" alt="">
                <div id=""></div>
            </a>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-notify/src/scripts/ng-notify.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/ng-emoticons/ng-emoticons.js"></script>
    <script src="bower_components/ment.io/dist/mentio.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/components/main.config.js"></script>
        <script src="scripts/components/main.services.js"></script>
        <script src="scripts/components/main.filters.js"></script>
        <script src="scripts/components/main.directives.js"></script>
        <script src="scripts/components/main.controller.js"></script>
        <!-- endbuild -->
</body>
</html>
