<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
  <div class="icon icon-search-1"></div>
  <input id="search-people_value"
    ng-model="searchStr"
    ng-disabled="disableInput"
    type="text"
    placeholder="{~{placeholder}~}"
    ng-focus="onFocusHandler()"
    class="{~{inputClass}~}"
    ng-focus="resetHideResults()"
    ng-blur="hideResults($event)"
    autocapitalize="off"
    autocorrect="off"
    autocomplete="off"
    ng-change="inputChangeHandler(searchStr)">
    <div id="search-people_dropdown" class="angucomplete-dropdown ng-hide" ng-show="showDropdown">
      <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
      <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
      <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
        <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{~{result.profilePic}~}" class="angucomplete-image">
        </div>
        <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
        <div class="angucomplete-title" ng-if="!matchClass">{~{result.title}~}</div>
      </div>
    </div>
</div>
