<div scrollable scrollend="addToFeed();">
<div class="padded">
    <div class="feed-container" ng-repeat="post in posts">
    <div>
        <div class="user-data pull-left">
        <div>
            <a ng-href="/profile/{{post.author.enrolmentNo}}">
                <div class="user-image" ng-style="{ 'background-image': 'url(' + post.author.profilePic + ')' }"></div>
            </a>
            <p class="info"><i class="fa fa-graduation-cap"></i> {{post.author.course}} ({{post.author.branch}}) {{post.author.year | romanNumber}} Year</p>
            <p class="info"><i class="fa fa-map-marker"></i> {{post.spot}}</p>
            <p class="info"><i class="fa fa-calendar-o"></i> {{post.date}}</p>
        </div>
        </div>
        <div class="post-data pull-left">
        <div>
            <a ng-href="/profile/{{post.author.enrolmentNo}}"><h1 ng-bind="post.author.name"></h1></a>
            <h2>With 
                <span ng-repeat="taggedUser in post.taggedUsers">
                    <span ng-if="$last"> and </span><a ng-href="/profile/{{taggedUser.enrolmentNo}}">{{taggedUser.name}}</a><span ng-if="!$last">, </span>
                </span>
            </h2>
            <p>{{post.message}}</p>
            <div class="images-container">
                <a href="#" ng-repeat="image in post.images" ng-click="enlargeImage(image.url)">
                    <div class="image" ng-style="{ 'background-image': 'url(' + image.url + ')' }"></div>
                </a>
            </div>
        </div>
        </div>
        <p class="info stars" ng-click="">{{post.stars}} <i class="fa fa-star"></i></p>
    </div>
    </div>
    <div class="loader">
        <img src="images/svg-loaders/three-dots.svg" alt="Loading...">
    </div>
</div>
</div>